<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding-bottom: 20px;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #555;
        }

        .link-container {
            margin-top: 20px;
        }

        .link-container a {
            text-decoration: none;
            color: #333;
        }
    </style>
</head>

<body>
    <form action="/insertdata" method="post">
        <input type="text" name="name" placeholder="Name" required><br><br>
        <input type="email" name="email" placeholder="ABC...@gmail.com" required><br><br>
        <input type="submit" name="submit" value="Submit">
    </form>
    <div class="link-container">
        <a href="/fetchdata">Control data</a>
    </div>
</body>

</html>